#video-id {
    width: 510px;
    height: 250px;
    max-width: 100%;
    background: #000;
}

/* Mobile responsive */
@media (max-width: 600px) {
    #video-id {
        width: 100%;
        height: auto;
    }
}
